# Packages (elpa)
elpa

# Scratch directory
scratch

# Auto-Created Files
auto-save-list
recentf
/bookmarks
/session.*
/projectile-bookmarks.eld
/vimish-fold/*
/home/.emacs.d/transient/
/home/.emacs.d/tramp
/home/.emacs.d/eshell/
